#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Advent Of Code
Exec=brave --app=https://adventofcode.com/
Icon=/home/tamara/.local/share/applications/icons/adventofcode.png

