#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Android ID
Exec=qutebrowser --target window https://www.google.com/android/uncertified/
Icon=/home/tamara/.local/share/applications/icons/google.png

