#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Codeberg
Exec=brave --app=https://codeberg.org
Icon=/home/tamara/.local/share/applications/icons/codeberg.png

