#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Monica
Exec=qutebrowser --target window https://monica.im/home
Icon=/home/tamara/.local/share/applications/icons/monica.png

