#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Reddit
Exec=qutebrowser --target window https://reddit.com
Icon=/home/tamara/.local/share/applications/icons/reddit.png

