#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Regexr
Exec=brave --app=https://regexr.com
Icon=/home/tamara/.local/share/applications/icons/hashtag-solid.svg

