#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Trading View
Exec=brave --app=https://tradingview.com
Icon=/home/tamara/.local/share/applications/icons/trading-view.png

