#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Vercel
Exec=brave --app=https://vercel.com
Icon=/home/tamara/.local/share/applications/icons/vercel.svg

